<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(
  <%= @garden.banner_url  %>
);">
  <div class="container">
    <h1>Welcome to <%= @garden.name %></h1>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>
</div>


<div class="container my-5">
  <div class="row">
    <div class="col">
      <div class="cards">
        <% @garden.plants.each do |plant| %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.picture_url %>)">
            <%= plant.name %>
            <%= link_to plant_path(plant), method: :delete, data: { confirm: 'Are you sure?' }, class: 'card-remove-link' do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>

        <% end %>
      </div>
    </div>

  </div>
</div>
  
<!-- form -->
<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <h4>Add a new plant</h4>

      <%# This is needed to move the screen back to the form when the validation fails %>
      <%= simple_form_for [@garden, @plant], url: garden_plants_path(@garden.id, anchor: 'new_plant') do |f| %>
      <%# simple_form_for([@garden, @plant]) do |f| %>
        <%= f.input :name %>
        <%= f.input :picture_url %>
        <%= f.submit 'Save your plant', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>

