<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(
  <%= @garden.banner_url  %>
);">
  <div class="container">
    <h1>Welcome to <%= @garden.name %></h1>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>
</div>


<div class="container my-3">
  <div class="cards">
    <% plants = @garden.plants %>
    <% plants.each do |plant| %>
      <div class="card-category" 
           style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.picture_url  %>);" >
        <%# way number 1 %>
        <%# <%= link_to plant_path(plant.id), method: :delete, data: {confirm: 'Are you sure?'} do %> 
          <%# <i class="far fa-times-circle"></i> %>
        <%# <% end %>         

        <%# way number 2 %>
        <%= link_to "<i class='far fa-times-circle'></i>".html_safe, 
                    plant_path(plant.id), 
                    method: :delete, 
                    data: {confirm: 'Are you sure?'} %>   
        
        <%= plant.name %>
      </div>
    <% end %>
  </div>
  
  <br>

  <div class="w-50 m-auto">
    <h2>Create a new Plant</h2>
    <%= simple_form_for [@garden, @empty_plant] do |f| %>
      <%= f.input :name %>
      <%= f.input :picture_url %>
      <%= f.submit %>
    <% end %>
  </div>

</div>


