<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(
  <%= @garden.banner_url  %>
);">
  <div class="container">
    <h1>Welcome to <%= @garden.name %></h1>
    <%= link_to "Back", root_path, class: "btn btn-primary" %>
  </div>
</div>


<div class="container my-3">
  <div class="cards">
  
    <% plants = @garden.plants %>
    <% plants.each do |plant| %>
      <div class="card-category" 
           style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= plant.picture_url  %>);" >
        <%= plant.name %>
      </div>
    <% end %>
  </div>
  
</div>